body {
    background-color:  rgb(245, 68, 206);
    font: normal 20pt Arial;
}

header {
    color: white;
    text-align: center;
}

div {
    text-align: center;
    padding: 8px;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

section {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(41, 37, 37, 0.637);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
